{% extends "base.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/analytics.css">
<body style="background-image:url('/static/images/img.jpg')"></body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="success-message">
      {% for msg in messages %}
        <p class="message_alert">{{msg}}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<table class="user-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{% if user.username %}{{ user.username }}{% else %}None{% endif %}</td>
        <td>{{ user.password }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
