{% extends "index.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}<link rel="stylesheet" type="text/css" href="/static/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/base.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/darkMode.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/analytics.css">
{% with messages = get_flashed_messages() %}
          {% if messages %}
               {% for msg in messages %}
                    <p>{{msg}}</p>
               {% endfor %}
          {% endif %}
     {% endwith %}
<form action="{{ url_for('index')}}" method="post" id="Loginform">
     <p><input type="text" name="name"/></p>
     <p><input type="submit" value="submit"/></p>

</form>

{% endblock %}

