@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

:root {
    --primary-color: #5963ef;
    --table-header-bg-color: #f2f2f2;
    --color: #333;
    --text-color: #000;
}

.title-container {
    text-align: center;
    margin-top: 20px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.user-table th,
.user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.user-table th {
    background-color: var(--table-header-bg-color);
}

.success-message {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    margin: 15px;
}

table {
    border: 1px;
    color: var(--color);
}

.message_alert {
    color: var(--color);
}
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f2f2f2;
        }
        h1 {
            color: #333;
            text-align: center;
        }
        p {
            color: #666;
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .action-buttons {
            display: flex;
            align-items: center;
        }
        .action-buttons form {
            margin-right: 5px;
        }
        .action-buttons button {
            background-color: #f44336;
            color: #fff;
            border: none;
            padding: 8px 12px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s;
        }
        .action-buttons button:hover {
            background-color: #d32f2f;
        }
        .action-buttons button.delete-btn {
            background-color: #f44336;
        }
        .action-buttons button.delete-btn:hover {
            background-color: #d32f2f;
        }
        .action-buttons button.update-btn {
            background-color: #4caf50;
        }
        .action-buttons button.update-btn:hover {
            background-color: #388e3c;
        }